.App {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  background-color: #ccffcc;
  padding: 20px;
  border-radius: 20px;
}

.title_contents {
  font-size: 40px;
}

.diary-entry-profile {
  float: left;
}

.diary-entry-text {
  text-align: left;
}

.Diary-Entry {
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  color: #000000;
  border: 6px dashed #CCCCCC;
  border-radius: 20px;
  padding: 20px;
  overflow: auto;
}

.Diary-Entry h2 {
  margin: 10px;
  padding: 0px;
}

.DiaryEntryDate {
  color: #333333;
  font-size: 10pt;
  padding: 0px;
  margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  border: 6px solid #FFFFFF;
  border-radius: 20px;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #00b300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.showcase {
  float: left;
  border: 1px dashed;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
